body{
    background-color: rgb(38, 39, 40);
    color:  whitesmoke;
}
span{
    color: brown;
}
h3{
    font-family: cursive;
    padding-top: 8px;
}
.Home--Container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 70px;
}
.Navbar{
    list-style: none;
    color: whitesmoke;
    text-decoration: none;
}

nav >ul :hover{
    cursor: pointer;
    color: brown;
}
ul{
    display: flex;
    flex-direction: row;
    transition: all ease .50s;
}
li{
    list-style: none;
    margin: 10px;
}
h2{
    padding-top: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 250%;
}
.name--tag{
    text-align: center;
    font-size: x-small;
    background-color: brown;
    width: 100px;
    height: 15px;
    padding: 2px;
    padding-left: 3px;
    border-radius: 5px;
}
.image{
    height: 150px;
    text-align: center;
    background-color: brown;
    border-radius: 50%;
}
.image--container{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.Home--paragraph{
    margin-top: 65px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    text-align: center;
}
.Skills--Section{
    margin-top: 20%;
    margin-bottom: 20%;
}
.Skills--Icon{
    padding: 10px;
    border: 1px solid brown;
    border-radius: 5px;
    margin: 3%;

}
.Skills--content{
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
