body{
    background-color: rgb(38, 39, 40);
    color:  whitesmoke;
}
span{
    color: brown;
}
h3{
    font-family: cursive;
}
.Home--Container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}
.Resume--button{
    border: 1px solid rgb(248, 246, 246);
    background: transparent;
    color: whitesmoke;
    height: 40px;
    border-radius: 25px;
    font-size: small;
    margin-right: 35px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;

}
.Contact--button{

    border: 3px solid rgb(251, 246, 246);
    height: 40px;
    border-radius: 25px;
    font-size: small;
    margin-left: 35px;
    margin-top: 20px;

}

.Button--holder{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav{
    margin-top: 5px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
}
a:hover{
    cursor: pointer;
    color: brown;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
}
h2{
    padding-top: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 250%;
}
.name--tag{
    font-size: x-small;
    background-color: brown;
    width: 100px;
    height: 15px;
    padding: 2px;
    padding-left: 3px;
    border-radius: 5px;
}
.name--container{
    margin-top: -15px;
}
.image{
    height: 35vh;
    text-align: center;
    border-radius: 50%;
    background-color: brown;

}
.image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.image--container{
    display: flex;
    justify-content: center;
}

.Home--paragraph{
    margin-top: 65px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}

.Skills--Section{
    margin-top: 20%;
    margin-bottom: 5%;
}
.Skills--Icon{
    text-align: center;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 5px;
    margin: 3%;

}
.Skills--content{
    text-align: center;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Skills--container{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
}
.Project--container{
    border: 1px solid whitesmoke;
    margin-bottom: 25%;
    border-radius: 15px;
    padding: 10%;
}
.liveView--button{
    border: 1px solid whitesmoke;
    background: transparent;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}

.Github--button{
    border: 1px solid whitesmoke;
    background: transparent;
    color: aliceblue;
    border-radius: 10px;
    margin: 10px;
}
#Projects{
    margin-bottom: 10%;
}
.Project--section{
    margin-bottom: 30px;
}
.project--heading{
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.certificates--section{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
}